$trigger_height: 120vh;

@import url('https://fonts.googleapis.com/css?family=Chakra+Petch|IBM+Plex+Mono|Montserrat|Permanent+Marker');

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
body {
  background-color: #5771DF;
  color: white;
  margin: 0;
  transition: 0.5s ease;
}

nav {
  font-family: 'Montserrat';
  position: fixed;
  top: 0.5em;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  .logo {
    width: 12%;
    display: inline-block;
    z-index: -5;
  }
  img {
    width: 100%;
    height: 100%;
  }
  ul {
    list-style-type: none;
    padding: 0;
    display: inline-block;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    li {
      display: inline;
      a {
       font-size: 1.2em;
       color: inherit;
       text-decoration: none;
       line-height: 50px;
       /* the above line added for 1440x871, though it seems to work on all resos */
     }
    }
  }
}

.trigger {
  width: 90vw;
  height: $trigger_height;
}
#trigger1 {
  margin-top: 50vh;
}
#services {
  position: relative;
  top: 50vh;
  margin-top: 20vh;
}

.slide1 {
  #pen-key {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    img {
      width: 60vw;
    }
  }
  #swoops {
    position: fixed;
    bottom: 12%;
    left: 50%;
    transform: translateX(-50%);
    img {
      width: 60vw;
    }
  }
  #scroll-prompt {
    width: 50%;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

/* Slide 2 */
.slide2 {
  #checks {
    position: fixed;
    top: 15%;
    left: 300%;
    margin-left: -40vw;
    .line {
      width: 80vw;
      margin-bottom: -1.5em;
      .checkbox  {
        padding-right: 3em;
        display: inline-block;
        img {
          width: 7em;
        }
      }
      .caption {
        font-size: 9em;
        display: inline-block;
        font-family: 'Permanent Marker', cursive;
      }
    }
  }
  .slide2-bubble {
    position: fixed;
    top: 53%;
    width: 50%;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.slide3 {
  .portfolio-bubble {
    position: fixed;
    top: 28%;
    width: 20%;
    left: 50%;
    a {
      color:inherit;
    }
  }
  .portfolio-feature {
    opacity: 0;
    position: fixed;
    top: 30%;
    width: 20%;
    left: 23%;
    background-color: white;
    border: 1px solid black;
    img {
      width: 100%;
    }
  }
  h2 {
    opacity: 0;
    position: fixed;
    bottom: -7%;
    left: 0;
    width: 100%;
    text-align: center;
    font-family: 'Permanent Marker';
    font-size: 600%;
  }
  #works {
    opacity: 0;
    display: none;
    position: fixed;
    top: 20%;
    width: 100%;
    // display: flex;
    flex-direction: row;
    justify-content: center;
    .work {
      width: 10px;
      height: 10px;
      border-radius: 2px;
      background-color: white;
      margin: 0 25px;
    }
    .selected {
      width: 20px;
      height: 20px;
      margin-top: -5px;
    }
  }
}

.slide4 {
  .logo-final {
    opacity: 0;
    display: none;
    position: fixed;
    width: 15%;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
  }
  nav.nav-final {
    opacity: 0;
    color: black;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0);
    display: none;
    ul {
      margin: auto;
    }
    .circled {
      pointer-events: none;
      opacity: 0;
      position: relative;
      top: -50%;
      left: -38%;
      .caption {
        font-family: 'Permanent Marker';
        color: #C92525;
      }
    }
  }

  .contact-info {
    opacity: 0; display: none;
    width: 52%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    // display: flex;
    justify-content: space-between;
    color: black;
    .part {
      &.right {
        text-align: right;
      }
      .title {
        font-family: 'Permanent Marker';
        font-size: 400%;
      }
      .value {
        font-family: 'Montserrat', sans-serif;
        font-size: 150%;
      }
    }
    a {
      color: inherit;
      text-decoration: none;
    }
  }

  footer {
    position: fixed;
    bottom: -25%;
    left: 0;
    background-color: black;
    width: 100%;
    height: 12%;
    .inner {
      font-family: 'Montserrat';
      font-size: 150%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 52%;
      display: flex;
      justify-content: space-between;
      .social-link {
        margin-top: -0.35em;
        margin-left: 0.4em;
        background-color: black;
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-position: center;
        background-size: cover;
        transition: 0.2s ease;
        &#youtube {
          background-image: url('../img/icons/youtube.png');
          &:hover {
            background-color: red;
          }
        }
        &#instagram {
          background-image: url('../img/icons/instagram.png');
          &:hover {
            background-color: #bc318f;
          }
        }
        &#twitter {
          background-image: url('../img/icons/twitter.png');
          &:hover {
            background-color: #1DA1F2;
          }
        }
      }
    }
  }
}

.bubble {
  $arrow_height: 38px;
  $arrow_width: 20px;
  $bubble_padding_top_bottom: 25px;
  $bubble_padding_left_right: 75px;
  color:black;
  padding: $bubble_padding_top_bottom $bubble_padding_left_right;
  opacity: 0;
  background-color:white;
  font-family: 'Montserrat';
  font-size: 175%;
  border-radius: 0.4em;
  .arrow-up {
    width: 0;
    height: 0;
    border-left: $arrow_width solid transparent;
    border-right: $arrow_width solid transparent;

    border-bottom: $arrow_height solid white;
    position: absolute;
    top: -($arrow_height);
    left: 5%;
  }
  .arrow-left {
    width: 0;
    height: 0;
    border-top: $arrow_width solid transparent;
    border-bottom: $arrow_width solid transparent;

    border-right:$arrow_height solid white;
    position: absolute;
    left: -($arrow_height);
    top: 35%;
  }
}

#get-started {
  display: block;
  text-decoration: none;
  box-shadow: 5px 5px 10px black;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
  padding: 0.4em;
  position: fixed;
  right: -2.65em;
  top: 44%;
  background-color: white;
  color: black;
  transform: rotate(90deg);
  font-size: 2.5em;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: 0.2s ease;
  &:hover {
    background-color: darken(white, 25%);
  }
}
