@font-face {
  font-family: 'ChakraPetch';
  src: url('../fnt/ChakraPetch-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'ChakraPetch Light';
  src: url('../fnt/ChakraPetch-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fnt/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Permanent Marker';
  src: url('../fnt/PermanentMarker-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'IBM Plex Mono';
  src: url('../fnt/IBMPlexMono-Bold.ttf') format('truetype');
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
body {
  background-color: #5771DF;
  color: white;
  margin: 0;
}

nav {
  font-family: 'Montserrat';
  position: fixed;
  top: 0.5em;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  .logo {
    width: 12%;
    display: inline-block;
  }
  img {
    width: 100%;
    height: 100%;
  }
  ul {
    list-style-type: none;
    padding: 0;
    display: inline-block;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    li {
      display: inline;
      a {
       font-size: 1.2em;
       color: inherit;
       text-decoration: none;
       line-height: 50px;
       /* the above line added for 1440x871, though it seems to work on all resos */
     }
    }
  }
}

.trigger {
  // position: inherit;
  // top: 50%;
  // left: 0;
  width: 90vw;
  // height: 50vh;
  height: 120vh;
}
// .trigger-long {
//   height: 100vh;
// }
#trigger1 {
  margin-top: 50vh;
}

#pen-key {
  position: fixed;
  top: 30%;
  left: 50%;
  margin-left: -30vw;
  img {
    width: 60vw;
  }
}
#swoops {
  position: fixed;
  bottom: 12%;
  left: 50%;
  margin-left: -30vw;
  img {
    width: 60vw;
  }
}
#scroll-prompt {
  width: 50%;
  position: fixed;
  bottom: 0;
  left: 25%;
}
/* Slide 2 */
#checks {
  position: fixed;
  top: 15%;
  left: 300%;
  margin-left: -40vw;
  .line {
    width: 80vw;
    margin-bottom: -1.5em;
    .checkbox  {
      padding-right: 3em;
      display: inline-block;
      img {
        width: 7em;
      }
    }
    .caption {
      font-size: 9em;
      display: inline-block;
      font-family: 'Permanent Marker';
    }
  }
}
#get-started {
  display: block;
  text-decoration: none;
  box-shadow: 5px 5px 10px black;
  font-family: 'IBM Plex Mono';
  padding: 0.4em;
  // opacity: 0;
  position: fixed;
  right: -2.65em;
  top: 44%;
  background-color: white;
  color: black;
  transform: rotate(90deg);
  font-size: 2.5em;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

}

.slide-bubble {
  $arrow_height: 38px;
  $arrow_width: 20px;
  $bubble_padding_top_bottom: 25px;
  $bubble_padding_left_right: 75px;

  position: fixed;
  top: 53%;
  opacity: 0;
  color:black;
  background-color:white;
  font-family: 'Montserrat';
  width: 50%;
  left: 50%;
  margin-left: -30vw;
  padding: $bubble_padding_top_bottom $bubble_padding_left_right;
  font-size: 175%;
  border-radius: 0.4em;

  .arrow-up {
    width: 0;
    height: 0;
    border-left: $arrow_width solid transparent;
    border-right: $arrow_width solid transparent;

    border-bottom: $arrow_height solid white;
    position: relative;
    top: -($arrow_height + $bubble_padding_top_bottom);
    left: 0;
  }
}
