@media screen and (max-width: 425px) {
  .nav-orig {
    display: inherit;
    .logo {
      width: 40%;
      margin: auto;
      display: block;
    }
    ul {
      margin: auto;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 100%;
      li {
        text-align: center;
        a {
          font-size: 1.0em;
        }
      }
    }
  }
  .slide1 {
    #pen-key {
      width: 90%;
      top: 35%;
      img {
        width: 100%;
      }
    }
    #swoops {
      width: 90%;
      top: 60%;
      img {
        width: 100%;
      }
    }
    #scroll-prompt {
      width: 90%;
      img {
        width: 100%;
      }
    }
  }

  #get-started {
    display: none;
  }
}
