@media screen and (min-width: 1440px) {
  .slide2 {
    #checks {
      top: 30%;
      .line {
        .checkbox {
          padding: 0;
          img {
            width: 8em;
          }
        }
        .caption {
          font-size: 9em;
        }
      }
    }
    .slide2-bubble {
      font-size: 3em;
    }
  }
  .slide3 {
    .portfolio-bubble {
      top: 35%;
    }
  }
}
@media screen and (max-width: 1024px) {
  .slide2 {
    #checks {
      top: 30%;
      .line {
        .checkbox {
          padding: 0;
          img {
            width: 5em;
          }
        }
        .caption {
          font-size: 6em;
        }
      }
    }
  }
  .slide4 {
    .contact-info {
      width: 65%;
      top: 60%;
      .part {
        .title {
          font-size: 3em;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .nav-orig {
    display: inherit;
    .logo {
      width: 40%;
      margin: auto;
      display: block;
    }
    ul {
      margin: auto;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 100%;
      li {
        text-align: center;
        a {
          font-size: 1.0em;
        }
      }
    }
  }
  .slide1 {
    #pen-key {
      width: 90%;
      top: 35%;
      img {
        width: 100%;
      }
    }
    #swoops {
      width: 90%;
      top: 60%;
      img {
        width: 100%;
      }
    }
    #scroll-prompt {
      width: 90%;
      img {
        width: 100%;
      }
    }
  }
  .slide2 {
    #checks {
      top: 30%;
      .line {
        .checkbox {
          padding: 0;
          img {
            width: 4em;
          }
        }
        .caption {
          font-size: 1.8em;
        }
      }
    }
    .slide2-bubble {
      top: 55%;
      width: 70%;
      font-size: 1em;
      padding: 1em;
    }
  }
  .slide3 {
    .portfolio-bubble {
      text-align: center;
      width: 50%;
      font-size: 0.75em;
      top: 65%;
      left: 50%;
      transform: translate(-50%, 0);
      .arrow-left {
        display: none;
      }
    }
    .portfolio-feature {
      top: 40%;
      left: 50%;
      transform: translate(-50%, 0);
    }
    h2 {
      font-size: 4em;
    }
    #works {
      top: 30%;
    }
  }
  .slide4 {
    .logo-final {
      width: 50%;
    }
    nav.nav-final {
      font-size: 1em;
      width: 100%;
      ul {
        width: 100%;
        display: flex;
        justify-content: space-around;
      }
      .circled {
        box-sizing: content-box;
        position: absolute;
        top: -0.6em;
        left: inherit;
        right: 2.2em;
        width: 6em;
      }
    }
    .contact-info {
      width: 90%;
      top: 65%;
      .part {
        .title {
          font-size: 2em;
        }
        .value {
          font-size: 1em;
        }
      }
    }
    footer {
      .inner {
        font-size: 1em;
        width: 90%;
        .social-link {
          width: 2em;
          height: 2em;
          &#youtube {
            background-color: red;
          }
          &#instagram {
            background-color: #bc318f;
          }
          &#twitter {
            background-color: #1DA1F2;
          }
        }
      }
    }
  }

  .bubble {
    padding: 1em;
  }

  #get-started {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .slide3 {
    .portfolio-bubble {
      top: 55%;
    }
    .portfolio-feature {
      top: 35%;
    }
    h2 {
      font-size: 3.5em;
    }
    #works {
      top: 25%;
    }
  }
  .slide4 {
    nav.nav-final {
      .circled {
        right: -0.5em;
      }
    }
    .contact-info {
      .part {
        .title {
          font-size: 1em;
        }
        .value {
          font-size: 1em;
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .slide4 {
    nav.nav-final {
      .circled {
        top: -0.2em;
        right: -0.4em;
        width: 5em;
      }
    }
    .contact-info {
      .part {
        .value {
          font-size: 0.8em;
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .slide4 {
    nav.nav-final {
      .circled {
        top: 0.3em;
        right: -0.3em;
        width: 4em;
      }
    }
    footer {
      .inner {
        font-size: 0.8em;
      }
    }
  }
}
