html,body {
  font-size: 1rem;
}

/** App */
.App {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}
.App .app-header {
  text-align: center;
  padding: 1em;
}
.App .app-header .logo {
  width: 5em;
}
.App .app-header .title {
  font-size: 1.5rem;
}
.App .main-content {
  text-align: center;
}


/** ChoiceArea */
.ChoiceArea {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.ChoiceArea .title {
  font-size: 1.75rem;
}
.ChoiceArea .choice {
  flex-grow: 0.1;
}
.ChoiceArea .choice label {
  display: block;
}
.ChoiceArea .choice-left {
background-color: red;
}
.ChoiceArea .choice-right {
background-color: green;
}
